* {
  padding: 0;
  margin: 0;
  font-family: "Popins", sans-serif;
  font-weight: normal;
}

.button {
  width: 300px;
  position: relative;
  overflow: hidden;
  height: 3.5rem;
  padding: 1px;
  border-radius: 2px;
  background: #3d3a4e00;
  background-size: 400%;
  color: #fff;
  font-size: 28px;
  border: solid;
  cursor: pointer;
  
  
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: #50fc07;
  transition: all 0.475s;
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  z-index: -1;
  opacity: 0.6;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #14724b;
  mix-blend-mode: overlay;
  z-index: -1;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  align-items: center;
}

.header .logo {
  font-weight: 800;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 4px;
  cursor: pointer;
}

.header .menu {
  display: flex;
  gap: 4rem;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}
.logo
{
    width: 50px;
    margin-top: 1px;
    margin-left: 3px;

}
.content {
  padding: 2.5rem;
  width: 60%;
  display: flex;
  height: 70vh;
  
}

.content .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.content .title {
  font-size: 100px;
  font-weight: 200;
  color: #ffffff;
  letter-spacing: 5px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  
}


.content .sub-title {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 5px;
}

.content .description {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 10px;
}

.content .explore {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background: #fff;
  color: black;
  text-align: center;
  width: 8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
}
